body {
  height: 1140px;
  background-image: url(images/pizza2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Lobster", cursive;
  color: white;
  font-size: xx-large;
}
.header {
  text-align: center;
  padding-top: 20px;
}
span {
  color: rgb(236, 164, 30);
}
.overlay {
  text-align: center;
  padding-top: 100px;
  background: rgb(0, 0, 0, 0.5);
 
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.overlay1 {
  background: rgba(0, 0, 0, 0.5);
  padding-top: 110px;
  text-align: center;
}
.col {
  display: flex;
  padding-left: 140px;
}
.col-md-2,
.col-md-3,
.col-md-5 {
  background-color: white;
  opacity: 0.3;
  color: black;
  padding-top: 25px;
  border-radius: 25px;
  filter: brightness(0.9);
}
.col-md-2 {
  border: 1px solid rgb(129, 124, 124);
  background-color: white;
  opacity: 0.3;
  width: 290px;
  margin-right: 10px;
}
.col-md-3 {
  border: 1px solid rgb(129, 124, 124);
  background-color: white;
  opacity: 0.3;
  width: 290px;
  margin-right: 10px;
}
.col-md-5 {
  border: 1px solid rgb(129, 124, 124);
  background-color: white;
  opacity: 0.3;
  width: 290px;
  margin-right: 10px;
}
footer{
    background-color:#ffa500;
}
.btns{
  padding-top: 40px;
  padding-left: 110px;
}

